@import "../../stylesheet/variables.scss";

.dropdown {
  position: relative;

  .dropdown-button {
    display: flex;
    background-color: $light-blue-background-color;
    border-radius: $base-border-radius;
    overflow: hidden;

    .dropdown-button-data {
      display: flex;
      align-items: center;
      padding: 10px;

      .balance {
        margin-right: 9px;
        font-weight: 500;
      }

      .income {
        margin-right: 7px;
        font-size: $base-text-size;
        padding: 3px 2px;
        font-weight: 700;
        background-color: $blue-background-color;
        border-radius: $small-border-radius;
      }

      .arrow-down-icon {
        cursor: pointer;
      }
    }

    .dropdown-plus-icon {
      padding: 10px;
      background: $blue-background-color;
    }
  }

  .menu {
    position: absolute;
    border-radius: 4px;
    overflow: hidden;
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
    width: 170px;

    li {
      margin: 0;
      background-color: $light-blue-background-color;

      &:hover {
        background-color: $blue-background-color;
      }

      button {
        text-align: left;
        background: none;
        color: inherit;
        border: none;
        padding: 5px;
        cursor: pointer;
      }
    }
  }
}
